<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body>

<div class="container">
<script src="" th:src="@{images/profile.png}" ></script> 
<h1> Welcome to DevOpsLab-LiveScenarios youtube channel </h1>

<p>Through this channel, I want to demostrate live devops scenarios. 
So that, every one can learn the devops</p>
<h2> youtube link is  </h2>
	<a href="https://www.youtube.com/channel/UCk5iE5ypgwKBEwjtc-eckaA/videos">youtube channel link</a>|  
	

</div>

<script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>